body{
    background-color: rgb(202, 206, 211);
    margin: 0%;

    width: 100%;
}
header{
    
    position: relative;
    
}
div ul{
    margin-left: 500;
}
div .ulForm{
    margin-left: 630;
}
ul{
    list-style-type: none;
    background-color: green;
    text-align: center;
    
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 25;
    margin-right: 25;
    position: absolute;
   
    
}
ul li{
    display: inline-block;
    justify-content: space-around;   
    padding-right: 35;  
}
ul li a{
    text-decoration: none;
    color: white;
    
}
.haderText{
    background-color: rgb(53, 154, 53);
    color: white;
    padding: 105;
    text-align: center;
    margin-top: 0;
    padding: 20;    
   
}
div{
   
    
}
.box1{
    background-color: white;
    padding: 15;
    margin: 10;
    
    border: 2px solid white;
    border-radius: 10px;
}

.box2{
    margin: 10;
    margin-top: 17;
    background-color: white;
    padding: 0.5;
    border: 2px solid white;
    border-radius: 10px;
    
    
}
.card1{
    background-color: rgb(202, 206, 211);
    padding: 5;
    padding-left: 15;
    text-align: left;
    margin-bottom: 10;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 500;
    margin-right: 500;
    flex-wrap: wrap;
    
}

.cardInCard1{
    background-color:rgb(225, 156, 180);
    margin-right: 410;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4;
    border: 2px solid white;
    border-radius: 10px;
    
}

.cardInCard2{
    background-color:rgb(122, 97, 221);
    margin-right: 410;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4;
    border: 2px solid white;
    border-radius: 10px;
    
}
.cardInCard3{
    background-color:rgb(163, 200, 27);
    margin-right: 410;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4;
    border: 2px solid white;
    border-radius: 10px;
    
}
.footer {
    
    left: 0;
    bottom: 0;
    justify-content: center;
    height: 30;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;}
    body div .card1:hover {
        background-color:rgb(170, 174, 178);
      }

div h3{
    color: green;
}
div h5 {
    
    font-weight:200;
}
div h5 p{
    display: inline;
    font-weight:bold;
}
.SighnUpTitle{
    color: green;
}
.form{
    margin: 10;
        margin-top: 17;
        background-color:rgb(170, 174, 178);
        padding: 10;
        border: 2px solidrgb(170, 174, 178);
        border-radius: 10px;
        
        
              
    
}
textarea {
    width: 200px;
}
.submit{
    background-color: green;
    border: 0cap;
    border-radius: 7px;
}
.width{
    width: 100%;
}
.width90{
    width: 95%;
}
